<a href="https://colab.research.google.com/github/sachchit-k/DiabetesPredection/blob/main/Diabetes2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import warnings
# warnings.filterwarnings('ignore')
# import numpy as np
# import pandas as pd
# from sklearn.preprocessing import MinMaxScaler
# from sklearn.model_selection import train_test_split,cross_val_score
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import  accuracy_score, f1_score, precision_score,confusion_matrix, recall_score, roc_auc_score
# from xgboost import XGBClassifier
# from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
# from sklearn.svm import SVC
# import matplotlib.pyplot as plt
# %matplotlib inline
# from IPython.display import Image

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Proj/1.PROJ/Diabetes Prediction/diabetes_data_upload.csv')

In [4]:
df.head()

   Age Gender Polyuria Polydipsia  ... muscle stiffness Alopecia Obesity     class
0   40   Male       No        Yes  ...              Yes      Yes     Yes  Positive
1   58   Male       No         No  ...               No      Yes      No  Positive
2   41   Male      Yes         No  ...              Yes      Yes      No  Positive
3   45   Male       No         No  ...               No       No      No  Positive
4   60   Male      Yes        Yes  ...              Yes      Yes     Yes  Positive

[5 rows x 17 columns]

Data pre-processing

In [5]:
df['class'] = df['class'].apply(lambda x: 0 if x=='Negative' else 1)

In [6]:
X= df.drop(['class'],axis=1)
Y=df['class']

In [7]:
objList = X.select_dtypes(include = "object").columns
print (objList)

Index(['Gender', 'Polyuria', 'Polydipsia', 'sudden weight loss', 'weakness',
       'Polyphagia', 'Genital thrush', 'visual blurring', 'Itching',
       'Irritability', 'delayed healing', 'partial paresis',
       'muscle stiffness', 'Alopecia', 'Obesity'],
      dtype='object')

In [8]:
#Label Encoding for object to numeric conversion
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for feat in objList:
    X[feat] = le.fit_transform(X[feat].astype(str))

print (X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 520 non-null    int64
 1   Gender              520 non-null    int64
 2   Polyuria            520 non-null    int64
 3   Polydipsia          520 non-null    int64
 4   sudden weight loss  520 non-null    int64
 5   weakness            520 non-null    int64
 6   Polyphagia          520 non-null    int64
 7   Genital thrush      520 non-null    int64
 8   visual blurring     520 non-null    int64
 9   Itching             520 non-null    int64
 10  Irritability        520 non-null    int64
 11  delayed healing     520 non-null    int64
 12  partial paresis     520 non-null    int64
 13  muscle stiffness    520 non-null    int64
 14  Alopecia            520 non-null    int64
 15  Obesity             520 non-null    int64
dtypes: int64(16)
memory usage: 65.1 KB
None

In [9]:
X.shape

(520, 16)

In [10]:
X.head()

   Age  Gender  Polyuria  ...  muscle stiffness  Alopecia  Obesity
0   40       1         0  ...                 1         1        1
1   58       1         0  ...                 0         1        0
2   41       1         1  ...                 1         1        0
3   45       1         0  ...                 0         0        0
4   60       1         1  ...                 1         1        1

[5 rows x 16 columns]

In [11]:
Y.shape

(520,)

#!!

In [12]:
#here 1 means positive
#and 0 means negative

In [13]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: class, dtype: int64

In [14]:
#Splitting the data to training data & Test data

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [16]:
X.shape,X_train.shape,X_test.shape

((520, 16), (416, 16), (104, 16))

In [17]:
X_train

     Age  Gender  Polyuria  ...  muscle stiffness  Alopecia  Obesity
422   67       1         0  ...                 1         1        1
498   68       0         1  ...                 0         0        0
109   39       0         1  ...                 1         0        0
470   45       1         0  ...                 0         0        0
244   54       1         0  ...                 1         1        0
..   ...     ...       ...  ...               ...       ...      ...
75    55       0         1  ...                 0         0        1
466   38       1         0  ...                 0         0        0
299   43       0         1  ...                 1         0        1
493   44       1         1  ...                 0         1        1
168   37       1         0  ...                 0         1        0

[416 rows x 16 columns]

In [18]:
Y_train

422    1
498    1
109    1
470    0
244    0
      ..
75     1
466    0
299    1
493    0
168    1
Name: class, Length: 416, dtype: int64

In [19]:
## Data Standardization

In [20]:
scaler=StandardScaler()

In [21]:
scaler.fit(X_train)

StandardScaler()

In [22]:
# standardized_data = scaler.transform(X)

In [23]:
classifier = svm.SVC(kernel='linear')

In [24]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [25]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [26]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.9350961538461539

In [27]:
input_data = (68,0,1,1,0,1,1,0,1,1,0,1,1,0,0,0)
# input_data=tuple(float(x.strip()) for x in input("give input: ").split(','))

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[[ 1.67395382 -1.34566371  1.00966206  1.11742948 -0.86057293  0.82717019
   1.13944835 -0.55513611  1.13389342  1.01452861 -0.55884062  1.09592801
   1.1450376  -0.74312772 -0.73923501 -0.43424812]]
[1]
The person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

In [28]:
import pickle

In [29]:
filename='trained_model_diabetes2.sav'

In [30]:
pickle.dump(classifier,open(filename,'wb'))

In [31]:
#loading model
loaded_model=pickle.load(open('trained_model_diabetes2.sav','rb'))

In [32]:
input_data = (68,0,1,1,0,1,1,0,1,1,0,1,1,0,0,0)
# input_data=tuple(float(x.strip()) for x in input("give input: ").split(','))

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[[ 1.67395382 -1.34566371  1.00966206  1.11742948 -0.86057293  0.82717019
   1.13944835 -0.55513611  1.13389342  1.01452861 -0.55884062  1.09592801
   1.1450376  -0.74312772 -0.73923501 -0.43424812]]
[1]
The person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"